In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

In [16]:
df = pd.read_parquet("../data/usa_00001_clean.parquet")

df.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STATEFIP,STRATA,GQ,PERNUM,...,EMPSTATD,LABFORCE,CLASSWKR,CLASSWKRD,OCC,IND,WKSWORK2,UHRSWORK,FTOTINC,INCWAGE
0,2023,202301,2.0,2.023010e+12,27.0,2.023000e+12,1,10001.0,3,1.0,...,30,1,0,0,0,0,0,0,9999999.0,0.0
1,2023,202301,3.0,2.023010e+12,47.0,2.023000e+12,1,40201.0,4,1.0,...,30,1,0,0,0,0,0,0,9999999.0,0.0
2,2023,202301,5.0,2.023010e+12,57.0,2.023000e+12,1,280201.0,4,1.0,...,30,1,2,22,7810,4971,2,28,9999999.0,2500.0
3,2023,202301,6.0,2.023010e+12,52.0,2.023000e+12,1,120201.0,4,1.0,...,30,1,2,28,4600,7860,1,30,9999999.0,500.0
4,2023,202301,7.0,2.023010e+12,43.0,2.023000e+12,1,180101.0,3,1.0,...,30,1,2,22,8990,3570,0,0,9999999.0,0.0

In [21]:
df_cleaned = df[(df["INCWAGE"] > 0) & df["EMPSTAT"].isin([1, 2])]
df_cleaned = df_cleaned[["AGE", "SEX", "RACE", "MARST", "EDUC", "STATEFIP", "INCWAGE", "CITIZEN"]]
df_cleaned = df_cleaned[df_cleaned["CITIZEN"].isin([2, 3])]
df_cleaned["CITIZEN"] = df_cleaned["CITIZEN"].map({2:1, 3:0})
df_cleaned.head()

      AGE  SEX  RACE  MARST  EDUC  STATEFIP  INCWAGE  CITIZEN
842    49    2     6      6     6         1   7000.0        1
1125   49    2     6      6     6         1   7000.0        1
1875   49    2     6      6     6         1   7000.0        1
2945   53    2     7      1     3         1  37400.0        1
2946   46    1     7      1     0         1    360.0        0

In [23]:
df_cleaned["INCWAGE_LOG"] = np.log(df['INCWAGE'])
categorical_vars = ['SEX', 'RACE', 'MARST', 'EDUC', 'STATEFIP']
for col in categorical_vars:
    df_cleaned[col] = df_cleaned[col].astype('category')
df_cleaned.head()

/Users/brendaz/anaconda3/envs/cs224n/lib/python3.12/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

      AGE SEX RACE MARST EDUC STATEFIP  INCWAGE  CITIZEN  INCWAGE_LOG
842    49   2    6     6    6        1   7000.0        1     8.853665
1125   49   2    6     6    6        1   7000.0        1     8.853665
1875   49   2    6     6    6        1   7000.0        1     8.853665
2945   53   2    7     1    3        1  37400.0        1    10.529426
2946   46   1    7     1    0        1    360.0        0     5.886104

In [26]:
df_cleaned.to_csv("../data/cleaned.csv")

In [25]:
model = smf.ols(
    formula=' INCWAGE_LOG ~ CITIZEN + AGE + C(SEX) + C(RACE) + C(MARST) + C(EDUC) + C(STATEFIP)',
    data=df_cleaned
).fit(cov_type='HC3')  # robust SEs

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            INCWAGE_LOG   R-squared:                       0.258
Model:                            OLS   Adj. R-squared:                  0.257
Method:                 Least Squares   F-statistic:                     1011.
Date:                Sun, 30 Nov 2025   Prob (F-statistic):               0.00
Time:                        20:31:40   Log-Likelihood:            -3.0597e+05
No. Observations:              223823   AIC:                         6.121e+05
Df Residuals:                  223746   BIC:                         6.129e+05
Df Model:                          76
Covariance Type:                  HC3
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             9.9277      0.037    268.467      0.000       9.855      10.000
C(SEX)[T.2]          -0.4190      0.004   -101.249      0.000      -0.427      -0.411
C(RACE)[T.2]         -0.1355      0.009    -14.929      0.000      -0.153      -0.118
C(RACE)[T.3]         -0.0996      0.017     -5.980      0.000      -0.132      -0.067
C(RACE)[T.4]         -0.0382      0.009     -4.204      0.000      -0.056      -0.020
C(RACE)[T.5]         -0.0296      0.027     -1.111      0.267      -0.082       0.023
C(RACE)[T.6]         -0.0493      0.006     -7.598      0.000      -0.062      -0.037
C(RACE)[T.7]         -0.0996      0.007    -14.406      0.000      -0.113      -0.086
C(RACE)[T.8]         -0.0908      0.007    -13.388      0.000      -0.104      -0.078
C(RACE)[T.9]         -0.0776      0.022     -3.475      0.001      -0.121      -0.034
C(MARST)[T.2]        -0.1973      0.011    -18.676      0.000      -0.218      -0.177
C(MARST)[T.3]        -0.1704      0.014    -12.258      0.000      -0.198      -0.143
C(MARST)[T.4]        -0.0513      0.007     -7.146      0.000      -0.065      -0.037
C(MARST)[T.5]        -0.1812      0.018    -10.230      0.000      -0.216      -0.146
C(MARST)[T.6]        -0.3004      0.006    -53.907      0.000      -0.311      -0.289
C(EDUC)[T.1]          0.0012      0.018      0.068      0.946      -0.035       0.037
C(EDUC)[T.2]          0.0318      0.012      2.635      0.008       0.008       0.056
C(EDUC)[T.3]          0.0634      0.015      4.246      0.000       0.034       0.093
C(EDUC)[T.4]          0.0901      0.020      4.444      0.000       0.050       0.130
C(EDUC)[T.5]          0.0291      0.021      1.369      0.171      -0.013       0.071
C(EDUC)[T.6]          0.1487      0.010     14.849      0.000       0.129       0.168
C(EDUC)[T.7]          0.1944      0.012     16.364      0.000       0.171       0.218
C(EDUC)[T.8]          0.3511      0.012     28.711      0.000       0.327       0.375
C(EDUC)[T.10]         0.7305      0.011     68.827      0.000       0.710       0.751
C(EDUC)[T.11]         1.1500      0.011    107.517      0.000       1.129       1.171
C(STATEFIP)[T.2]      0.2730      0.073      3.732      0.000       0.130       0.416
C(STATEFIP)[T.4]      0.1107      0.037      3.018      0.003       0.039       0.183
C(STATEFIP)[T.5]     -0.0125      0.050     -0.251      0.802      -0.110       0.085
C(STATEFIP)[T.6]      0.2126      0.034      6.191      0.000       0.145       0.280
C(STATEFIP)[T.8]      0.1543      0.039      3.976      0.000       0.078       0.230
C(STATEFIP)[T.9]      0.1415      0.039      3.657      0.000       0.066       0.217
C(STATEFIP)[T.10]     0.0500      0.050      0.995      0.320      -0.048       0.148
C(STATEFIP)[T.11]     0.3513      0.053      6.619      0.000       0.247       0.455
C(STATEFIP)[T.12]     0.0120      0.035      0.346      0.729      -0.056       0.080
C(STATEFIP)[T.13]     0.0858      0.036      2.394      0.017       0.016       0.156
C(STATEFIP)[T.15]     0.0424      0.042      1.009      0.313      -0.040       0.125
C(STATEFIP)[T.16]     0.0777      0.052      1.503      0.133      -0.024       0.179
C(STATEFIP)[T.17]     0.0906      0.036      2.543      0.011       0.021       0.160
C(STATEFIP)[T.18]    -0.0780      0.042     -1.877      0.060      -0.159       0.003
C(STATEFIP)[T.19]    -0.0080      0.052     -0.154      0.878      -0.109       0.093
C(STATEFIP)[T.20]     0.0167      0.048      0.349      0.727      -0.077       0.110
C(STATEFIP)[T.21]    -0.1077      0.047     -2.315      0.021      -0.199      -0.017
C(STATEFIP)[T.22]    -0.0775      0.046     -1.674      0.094      -0.168       0.013
C(STATEFIP)[T.23]    -0.0319      0.078     -0.408      0.683      -0.185       0.121
C(STATEFIP)[T.24]     0.1625      0.036      4.460      0.000       0.091       0.234
C(STATEFIP)[T.25]     0.1831      0.036      5.047      0.000       0.112       0.254
C(STATEFIP)[T.26]     0.0009      0.039      0.023      0.981      -0.075       0.077
C(STATEFIP)[T.27]     0.0535      0.043      1.252      0.211      -0.030       0.137
C(STATEFIP)[T.28]    -0.1095      0.060     -1.823      0.068      -0.227       0.008
C(STATEFIP)[T.29]    -0.0209      0.044     -0.478      0.633      -0.107       0.065
C(STATEFIP)[T.30]    -0.1389      0.136     -1.024      0.306      -0.405       0.127
C(STATEFIP)[T.31]     0.0275      0.054      0.513      0.608      -0.077       0.132
C(STATEFIP)[T.32]     0.1236      0.037      3.306      0.001       0.050       0.197
C(STATEFIP)[T.33]     0.1313      0.059      2.229      0.026       0.016       0.247
C(STATEFIP)[T.34]     0.2084      0.035      5.925      0.000       0.139       0.277
C(STATEFIP)[T.35]    -0.1140      0.047     -2.403      0.016      -0.207      -0.021
C(STATEFIP)[T.36]     0.1119      0.035      3.213      0.001       0.044       0.180
C(STATEFIP)[T.37]     0.0819      0.036      2.250      0.024       0.011       0.153
C(STATEFIP)[T.38]    -0.0179      0.098     -0.183      0.855      -0.210       0.174
C(STATEFIP)[T.39]    -0.0004      0.039     -0.010      0.992      -0.077       0.076
C(STATEFIP)[T.40]    -0.0120      0.045     -0.267      0.789      -0.100       0.076
C(STATEFIP)[T.41]     0.1216      0.040      3.044      0.002       0.043       0.200
C(STATEFIP)[T.42]     0.0229      0.038      0.606      0.545      -0.051       0.097
C(STATEFIP)[T.44]     0.1853      0.050      3.726      0.000       0.088       0.283
C(STATEFIP)[T.45]    -0.0200      0.042     -0.473      0.636      -0.103       0.063
C(STATEFIP)[T.46]     0.0344      0.082      0.418      0.676      -0.127       0.196
C(STATEFIP)[T.47]    -0.0091      0.041     -0.225      0.822      -0.089       0.070
C(STATEFIP)[T.48]     0.0546      0.035      1.577      0.115      -0.013       0.122
C(STATEFIP)[T.49]    -0.0214      0.043     -0.493      0.622      -0.106       0.064
C(STATEFIP)[T.50]    -0.1088      0.097     -1.122      0.262      -0.299       0.081
C(STATEFIP)[T.51]     0.1172      0.036      3.222      0.001       0.046       0.189
C(STATEFIP)[T.53]     0.3122      0.036      8.626      0.000       0.241       0.383
C(STATEFIP)[T.54]    -0.0944      0.097     -0.974      0.330      -0.284       0.096
C(STATEFIP)[T.55]     0.0010      0.047      0.021      0.983      -0.091       0.093
C(STATEFIP)[T.56]     0.0016      0.107      0.015      0.988      -0.209       0.212
CITIZEN               0.1897      0.005     41.807      0.000       0.181       0.199
AGE                   0.0091      0.000     44.199      0.000       0.009       0.010
==============================================================================
Omnibus:                    67001.860   Durbin-Watson:                   1.852
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           292830.846
Skew:                          -1.414   Prob(JB):                         0.00
Kurtosis:                       7.838   Cond. No.                     5.31e+03
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC3)
[2] The condition number is large, 5.31e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

Outcome regression suggests a 21% wage premium for naturalized immigrants. Because naturalization is not randomly assigned, this may reflect both causal effects and unobserved selection. Therefore, we next apply causal methods (e.g., IPW, AIPW, overlap weighting) to obtain more credible treatment effects.